.header {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  padding: 1.3rem 10% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  z-index: 100 !important;
  transition: 0.32s ease-in-out !important;
}

.header.scrolled {
  padding: 1rem 10% !important;
}

.header::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgb(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(50px) !important;
  z-index: -1 !important;
}

.header::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -100% !important;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 255, 255, 0.4),
    transparent
  ) !important;
  transition: 0.5s ease-in-out !important;
}

.header:hover::after {
  left: 100% !important;
}

.logo {
  font-size: 2rem !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: #fff !important;
}

.ant-dropdown-menu {
  background: rgb(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
}

.navbar a {
  font-size: 1.5rem !important;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 500 !important;
  margin-left: 2.5rem !important;
}

.navbar .nav-action-btn {
  justify-content: center !important;
  display: none !important;
}

#check {
  display: none !important;
}

.icons {
  font-size: 2.8rem !important;
  right: 5% !important;
  color: #fff !important;
  cursor: pointer !important;
  display: none !important;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5% !important;
  }
}

@media (max-width: 768px) {
  .header .action-btn {
    display: none !important;
  }

  .icons {
    display: inline-flex !important;
  }

  #check:checked ~ .icons #menu-icon {
    display: none !important;
  }

  .icons #close-icon {
    display: none !important;
  }

  #check:checked ~ .icons #close-icon {
    display: block !important;
  }

  .navbar {
    padding: 0 !important;
    flex-direction: column !important;
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    height: 0 !important;
    background: rgb(0, 0, 2, 0.1) !important;
    backdrop-filter: blur(50px) !important;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1) !important;
    overflow: hidden !important;
    transition: 0.3s ease-in-out !important;
    opacity: 0 !important;
  }

  #check:checked ~ .navbar {
    height: 25.7rem !important;
    opacity: 1 !important;
  }

  .navbar a {
    display: block !important;
    font-size: 1.1rem !important;
    margin: 1.5rem 0 !important;
    text-align: center !important;
    transform: translateY(-50px) !important;
    opacity: 0 !important;
    transition: 0.3s ease !important;
  }
  .navbar .nav-action-btn {
    display: block !important;
    transform: translateY(-50px) !important;
    opacity: 0 !important;
    transition: 0.3s ease !important;
  }

  #check:checked ~ .navbar .nav-action-btn {
    display: block !important;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0) !important;
    opacity: 1 !important;
    transition-delay: calc(0.15s * var(--i)) !important;
  }
  #check:checked ~ .navbar .nav-action-btn {
    transform: translateY(0) !important;
    opacity: 1 !important;
    transition-delay: calc(0.15s * var(--i)) !important;
  }
}
